.Navbar-text{
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(228, 222, 222) ;
}
h1{
    font-size: 45px;
}
h2{
    font-size: small;
    background-color: lightskyblue;
    text-decoration: underline;
}
h3{
    font-size: x-small;
    background-color: lightskyblue;
}
.header-wrap{
    background-color: slategrey;
}
body {
    background-image: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/pattern-sugar-cubes-on-a-pink-background-royalty-free-image-629784872-1558645837.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover ;
  }
