<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Diabetes Prediction using Machine Learning as a tool</title>
  
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="../static/js/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="main-container">
       <header class="main-header " id="main-header">
           <div class="header-wrap" height="75px">
               <h1 class="Logo">
               <a href="/" class="Logo_small">
                <img src="https://i.pinimg.com/474x/8f/a4/c1/8fa4c1a81470155ff9933bd5cfe37b86.jpg" width="100px" height="75px">
            </a>
            <span class="Navbar-text">Meta-B: Diabetes predictors Using Machine Learning as a tool</span>
        </h1>
           </div>
       </header>
       <div class="intro col-md-12">
           <h2>Our Challenge</h2>
           <br>
           <p>Currently, one in three Canadians has diabetes or prediabetes. Previous research shows that those 20 years of age 
               today face a 50 per cent chance of developing diabetes in their lifetime. We want to know, can AI predict diabetes with high accuracy? 
               With AI and machine learning gathering traction in the last decade we decided to 
               test this theory ourselves. With our knowdlege of font and back-end programming we sought out to get ourselves a viable dataset 
               and test our skills to see if an AI could be an accurate predictor for diabetes based on certain parameters. We 
               initially hypothesised that our machine learning model would be accurate above 50% but we were unsure if it could reach 80% and above.
               Our main challenges were finding a viable dataset with enough measures and entries to help our model become more accurate.
                It was a painstaking process to scour the web for a dataset containing at least 5,000 entries, something we didn't expect.
                Unfortunately, when we did find one, we encountered a big problem, cleaning the data and getting rid of unwanted variables
                and irrelevant information we deemed unlikely to be a factor in predicting diabetes cases. Thankfully, Our team member Taj
                worked his magic and managed to spare us approximately 3,200 samples, all cleaned and ready to go! Angela, the brains behind 
                our machine learning model, quickly got to work on structuring the training and testing data as well as spoon feeding our model
                algorithm after algorithm in an effort to secure our best chance at attaining a highly accurate model.
           </p>
        </div>
        <div class="dataset-info col-md-12">
           <h2>Our Data</h2>
           <p>We found a pre-existing dataset on Kaggle of compiled diabetic and nondiabetic patients involved in testing featuring 
           desireable measures. Our original dataset contained over 5,000 entries and 62 columns. After a much needed clean-up
           and running our data through a Random Forest algorithm to determine our biggest factors and contributors in diabetics, we cut that number
           down to 3,200 entries and 34 columns. Each column factors in a bias/weight of at least 1% into our data, up to approximately
           20% for our highest common factor among diabetics. Although the dataset is nowhere near the 10,000 entries we would have hoped
           it gave us insights into what are early signs and which demographics are at the highest risk. 
           <br>
           Of course with our progress we also encountered some limitations. Our data does not contain information regarding if diabetes is 
           prevalent in their family history. As we all know, this is a big factor as mutations that facilitate developing diabetes can be passed
           on. On the brightside, we already know that factors in, which leaves us to test how likely our lifestyles can impact our development of this disease.
           <p>
       </div>

       <div class="process col-md-12">
        <h2>Our Process</h2>
        <p>
            Training a machine learning model is easy... or so we thought. Initially we split our data into 80% training and 20% 
            testing data.

        </p>
       </div>

       <div class="tableau col-md-12" id="block_container">
           <div class="tableau-text col-md-6" id="block1">
            <h2>Our Findings</h2><hr class="rounded" height= "30px">
            <img src="https://acttoronto.com/wp-content/uploads/2015/09/Blue-Banner.jpg"
            height="30px" width="1300px" class="img" >
            <p>text explaining vizuals on the right</p>
           </div>
           <div class="tableau-viz col-md-6" id="block2">
               <p>temporary placeholder for tableau vizuals</p>
           </div>
       </div>

       <div class="conclusion col-md-12">
           <h2>conclusion</h2>
       </div>

       <div class="form" id="form">

       </div>

    </div>
        
</body>

<!-- API key -->
<script type="text/javascript" src="../static/config.js"></script>
<!-- Our JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>