<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Diabetes Prediction using Machine Learning as a tool</title>
  
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="../static/js/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="main-container">
       <header class="main-header " id="main-header">
           <div class="header-wrap" height="75px">
               <h1 class="Logo">
               <a href="/" class="Logo_small">
                <img src="https://i.pinimg.com/474x/8f/a4/c1/8fa4c1a81470155ff9933bd5cfe37b86.jpg" width="100px" height="75px">
            </a>
            <span class="Navbar-text">Meta-B: Diabetes predictors Using Machine Learning as a tool</span>
        </h1>
           </div>
       </header>
       <div class="intro col-md-12">
           <h2>Intro to the website</h2>
           <h3>data goes here</h3>

       </div>
    </div>
        
</body>

<!-- API key -->
<script type="text/javascript" src="../static/config.js"></script>
<!-- Our JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>